@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (await UserManager.IsInRoleAsync(user, "Admin"))
            {
                <li>
                    <a asp-controller="Admin" asp-action="Index" method="get">@Localizer["Admin panel"]</a>
                </li>
            }
            <li id="userLogoElem">
                <img id="userLogo" src=@user.ProfilePicture class="img-circle" alt="UserLogo" height="50" width="50" />
            </li>
            <li>
                <a asp-controller="Profile" asp-action="Index" asp-route-id="@user.Id" method="get" title="Profile">@user</a>
            </li>
            <li>
                <button id="logOut" type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["Log out"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
        <li><a asp-controller="Account" asp-action="Login">@Localizer["Log in"]</a></li>
    </ul>
}