﻿@model Course_Project.Models.ChangeRoleViewModel

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3>@Localizer["Lock user"]</h3>
        <h4>@Model.UserName</h4>
        <form asp-action="BlockUser" method="post">
            <input type="hidden" name="userId" value="@Model.UserId" />
            <div class="form-group">
                <input name="timeOfBlock" class="form-control" placeholder="@Localizer["Enter the number of minutes to lock"]" />
            </div>
            <button type="submit" class="btn btn-primary">@Localizer["Block"]</button>
            <button asp-action="Index" class="btn btn-default">@Localizer["Back"]</button>
        </form>
    </div>
</div>