﻿@model Course_Project.Models.ChangeRoleViewModel

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>@Localizer["Delete user"]</h2>
        <h3>@Model.UserName</h3>
        <form asp-action="ConfirmDeleteUser" method="post">
            <input type="hidden" name="userId" value="@Model.UserId" />
            <div class="form-group">
                <label>@Localizer["Are you sure you want to delete this user?"]</label>
                <button type="submit" class="btn btn-primary">@Localizer["Yes"]</button>
                <a class="btn btn-default" asp-action="Index">@Localizer["Cancel"]</a>
            </div>
        </form>
    </div>
</div>