﻿@model Course_Project.Models.ChangeRoleViewModel

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>@Localizer["Changing roles for the user"] @Model.UserName</h2>
            <form asp-action="Edit" method="post">
                <input type="hidden" name="userId" value="@Model.UserId" />
                <div class="form-group">
                    @foreach (IdentityRole role in Model.AllRoles)
                    {
                        <input type="checkbox" name="roles" value="@role.Name"
                               @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                        }
                </div>
                <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
            </form>
        </div>
    </div>