﻿@model IEnumerable<Course_Project.Models.ApplicationUser>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>@Localizer["List of users"]</h2>
        <table class="table" style="width:100px">
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@user.Id">@user.UserName</a>
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">@Localizer["Access rights"]</a>
                    </td>
                    <td>
                        @if (@user.LockoutEnd != null && user.LockoutEnd > DateTime.Now)
                        {
                            <a class="btn btn-sm btn-primary" asp-action="UnblockUser" asp-route-id="@user.Id">@Localizer["Unblock"]</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-primary" asp-action="BlockUser" asp-route-id="@user.Id">@Localizer["Block"]</a>
                        }
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-action="DeleteUser" asp-route-id="@user.Id">@Localizer["Delete"]</a>
                    </td>
                    <td>
                        @if (@user.LockoutEnd != null && user.LockoutEnd > DateTime.Now)
                        {
                            @Localizer["The lockout will end:"]@user.LockoutEnd
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>