@model Course_Project.Models.PostViewModels.PostViewModel

@if (User.IsInRole("Admin") || User.IsInRole("Author"))
{
    <form asp-action="AddComment" asp-route-postid="@ViewContext.RouteData.Values["id"]" asp-antiforgery="false" data-ajax="true" data-ajax-method="POST" data-ajax-update="#com">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input asp-for="Comment" type="text" class="form-control" placeholder="Write your comment" required />
                    <span class="input-group-btn">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </span>
                </div>
            </div>
        </div>
    </form>
}

