﻿@model Course_Project.Models.PostViewModels.Post

<section id="comments">
    <div class="container" id="commentsContainer">
        <h2>@Localizer["Comments:"]</h2>
        @foreach (var comment in context.Comments)
        {
            if (comment.PostId == Model.Id && Model.Comments.SingleOrDefault(m => m.Id == comment.Id) == null)
            {
                Model.Comments.Add(comment);
            }
        }
        @if (Model.Comments.Count == 0)
        {
            <p>@Localizer["There are no comments for this news"]</p>
        }
        else
        {
            @foreach (var comment in Model.Comments.OrderBy(a => a.CreatedDate))
            {
                var author = await UserManager.FindByIdAsync(comment.AuthorId);
                int CountsOfLike = 0;
                var UserComments = context.Comments.Where(n => n.AuthorId == comment.AuthorId);
                foreach (var comm in UserComments)
                {
                    var Likes = context.Likes.Where(n => n.CommentId == comm.Id);
                    CountsOfLike += Likes.Count();
                }
                <div class="comments-container">
                    <ul id="comments-list" class="comments-list">
                        <li>
                            <div class="comment-main-level">
                                <div class="comment-avatar">
                                    <img src=@author.ProfilePicture alt="UseLogo">
                                </div>
                                <div class="comment-box">
                                    <div id="commentHead" class="comment-head">
                                        <h6 class="comment-name">
                                            <a asp-controller="Profile" asp-action="Index" asp-route-id="@author.Id">
                                                @Html.Raw(author)
                                            </a>
                                            <i class="fa fa-heart" style="color:dodgerblue;top:-1px">
                                                @CountsOfLike
                                            </i>
                                        </h6>
                                        <span style="margin-right: 10px;">@Html.Raw(comment.CreatedDate)</span>
                                        @Html.Partial("_Like", comment)
                                    </div>
                                    <div class="comment-content">
                                        @comment.Text
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }
        }
    </div>
</section>