 @model Course_Project.Models.PostViewModels.Comment

<form id = "like" asp-action="AddLike" asp-route-Id="@Model.Id" data-ajax="true" data-ajax-method="POST" data-ajax-update="#like">
    
    @Html.Raw(Model.Likes.Count)
    <button type="submit" class="btn btn-link">
        <span class="glyphicon glyphicon-heart"></span>
    </button>
</form>