﻿@model Course_Project.Models.PostViewModels.Comment
@{
    var CountOfLikes = context.Likes.Where(n => n.CommentId == Model.Id).Count();
}

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var isLiked = context.Likes.Where(n => n.CommentId == Model.Id && n.UserId == user.Id).SingleOrDefault();
    <form id="@Model.Id" asp-action="AddLike" asp-route-Id="@Model.Id" data-ajax="true"
          data-ajax-method="POST" data-ajax-success="onSuccessLike">
        @if (isLiked == null)
        {
            <button class="ghost-button" type="submit" form="@Model.Id">
                <i id="heart" class="fa fa-heart"></i>
            </button>
            <i id="countOfLikes">@CountOfLikes</i>
        }
        else
        {
            <button class="ghost-button" type="submit" form="@Model.Id">
                <i id="heart" class="fa fa-heart" style="color:red"></i>
            </button>
            <i id="countOfLikes" style="color:red">@CountOfLikes</i>
        }
    </form>
}
else
{
    <i id="heart" class="fa fa-heart"></i>
    <i id="countOfLikes">@CountOfLikes</i>
}