﻿@model Course_Project.Models.PostViewModels.Post
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);

    <hr />
    <form asp-action="AddComment" asp-route-postid="@ViewContext.RouteData.Values["id"]"
          asp-antiforgery="false" data-ajax="true" data-ajax-method="POST" data-ajax-success="onSuccessNewComment">
        <div class="comments-container" style="position:relative;left:30px">
            <ul id="comments-list" class="comments-list">
                <li>
                    <div class="comment-main-level">
                        <div class="comment-avatar"><img src=@user.ProfilePicture alt="UseLogo"></div>
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name"><a href="">@Html.Raw(user)</a></h6>
                            </div>
                            <div class="comment-content" style="height:140px">
                                <textarea id="newComment" asp-for="Comment" 
                                          class="form-control" maxlength="300" style="width:80%;height:100%; resize: none;"
                                          placeholder=@Localizer["Write your comment (up to 300 characters)"] required>
                                </textarea>
                                <input id="submitNewComment" type="submit" value=@Localizer["Send"] class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
}
<script src="~/js/signalr.js"></script>
<script src="~/js/comments.js"></script>