@model Course_Project.Models.PostViewModels.Post
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole("Admin") || User.IsInRole("Author"))
{
    var user = await UserManager.GetUserAsync(User);
    <hr />
    <form asp-action="AddComment" asp-route-postid="@ViewContext.RouteData.Values["id"]" asp-antiforgery="false" data-ajax="true" data-ajax-method="POST"  data-ajax-success="onSuccessNewComment">
        <div class="comments-container" style="position:relative;left:30px">
            <ul id="comments-list" class="comments-list">
                <li>
                    <div class="comment-main-level">
                        <div class="comment-avatar"><img src=@user.ProfilePicture alt="UseLogo"></div>
                        <!-- Contenedor del Comentario -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name"><a href="">@Html.Raw(user)</a></h6>
                            </div>
                            <div class="comment-content" style="height:140px">
                                <textarea id="newComment" asp-for="Comment" class="form-control" maxlength="300" style="width:80%;height:100%; resize: none;" placeholder=@Localizer["Write your comment (up to 300 characters)"] required></textarea>
                                <input type="submit" value=@Localizer["Send"] class="btn btn-primary" style="position:relative;top:-37px;left:550px;width:15%" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
}
    <script src="~/js/signalr.min.js"></script>
<script>
    var onSuccessNewComment = function () {
        $("#newComment").val('');
        $('#comments').load(document.URL + " #comments");
        //hubConnection.invoke("Update");
    };
    var onSuccessLike = function () {
        
        $('#comments').load(document.URL + " #comments");
        $('#authorLikes').load(document.URL + " #authorLikes");
        //hubConnection.invoke("Update");
    };

    //let hubUrl = 'https://localhost:44343/Profile';
    //const hubConnection = new signalR.HubConnection(hubUrl);
    //hubConnection.on("Update", function () {

        
    //    //$("#com").load("_CommentsBody.cshtml #com");
    //    $("#com").load("#com");

    //});
    //hubConnection.start();
</script>
