﻿@model Course_Project.Models.PostViewModels.Post
@{
    int CountsOfLike = 0;
    var UserComments = context.Comments.Where(n => n.AuthorId == Model.AuthorId);
    foreach (var comment in UserComments)
    {
        var Likes = context.Likes.Where(n => n.CommentId == comment.Id);
        CountsOfLike += Likes.Count();
    }
}

<div class="row article-summary">
    <br />
    <div class="col-md-2">
        <p class="text-center">
            <img src=@Model.Author.ProfilePicture class="img-circle" alt="UserLogo" height="50" width="50" />
            <strong>
                <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Author.Id">
                    @Html.Raw(Model.Author)
                </a>
            </strong>
            <div style="position:relative;left:20px">
                <div id="authorLikes">
                    <i id="authorLikesCount" class="fa fa-heart" style="color:dodgerblue">
                        @CountsOfLike
                    </i>
                </div>
                @Model.CreatedDate.ToString()
            </div>
        </p>
    </div>
    <div class="col-md-10">
        <h4>
            <a asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a>
        </h4>
        <blockquote>
            <p>@Html.Raw(Model.Abstract)</p>
        </blockquote>
        @Html.Partial("_Raiting", Model)
    </div>
</div>
<hr />