﻿@model Course_Project.Models.PostViewModels.Post
@{
    double j = 0.0;
    Model.Raitings.ForEach(m => j += m.Value);
    var raiting = "0,00";
    if (Model.Raitings.Count() != 0)
    {
        raiting = string.Format("{0:N2}", j / Model.Raitings.Count());
    }
}
@if (SignInManager.IsSignedIn(User))
{
    var postId = Model.Id;
    var idForm = "currentValue" + Model.Id;
    var idFormUpdate = "#" + idForm;
    var idDiv = "currentValue" + Model.Id + "div";
    var idDivUpdate = "#" + idDiv;
    var user = await UserManager.GetUserAsync(User);
    var isRated = context.Raitings.Where(n => n.PostId == Model.Id && n.UserId == user.Id).SingleOrDefault();

    <div class="stars" id=@idDiv>
        <form id=@idForm asp-action="SetRaiting" asp-route-postId=@Model.Id
              data-ajax="true" data-ajax-method="POST" data-ajax-update="@idDivUpdate">
            <p class="stars">@Localizer["Rate this post:"]</p>

            @for (int i = 5; i > 0; i--)
            {
                string id = Model.Id + i;
                string classStars = "star star-" + i;
                if (isRated != null && i == isRated.Value)
                {
                    <input class="@classStars" id=@id type="radio" name="currentValue"
                           value=@i onclick="onClick(name,id)" checked />
                    <label class="@classStars" for=@id></label>
                }
                else
                {
                    <input class="@classStars" id=@id type="radio"
                           name="currentValue" value=@i onclick="onClick(name,id)" />
                    <label class="@classStars" for=@id></label>
                }
            }

            <p class="stars total">
                @Localizer["Post rating:"] @raiting (@Localizer["Count of votes:"] @Model.Raitings.Count())
            </p>
        </form>
    </div>
}
else
{
    <p>@Localizer["Post rating:"] @raiting (@Localizer["Count of votes:"] @Model.Raitings.Count())</p>
}

<script type="text/javascript">
    var onClick = function (name, id) {
        id = id.substring(0, id.length - 1);
        $("#" + name + id).submit();
    };
</script>