﻿@{
    var tags = context.PostTags.ToList();
    Dictionary<string, int> map = new Dictionary<string, int>();
}

<aside class="col-md-3" id="tagCloud" style="text-align:center;">
    <h1>@Localizer["Tag cloud"]</h1>
    <ul class="tag-cloud">
        @foreach (var t in tags)
        {
            var tag = context.Tags.SingleOrDefault(m => m.Id == t.TagId);
            if (map.ContainsKey(tag.Name))
            {
                var value = map.GetValueOrDefault(tag.Name);
                map.Remove(tag.Name);
                map.Add(tag.Name, value + 1);
            }
            else
            {
                map.Add(tag.Name, 1);

            }
        }

        @foreach (KeyValuePair<string, int> c in map)
        {
            var size = (c.Value > 10) ? "w10" : "w" + c.Value;
            var tag = context.Tags.SingleOrDefault(n => n.Name == c.Key);
            <li><a asp-controller="Posts" asp-action="Tag" asp-route-tagId=@tag.Id class=@size>@tag.Name</a></li>
        }
    </ul>
</aside>