﻿@model Course_Project.Models.PostViewModels.Post
@{
    ViewData["Title"] = Localizer["Delete post"];
}
<h2>@Localizer["Delete post"]</h2>
<h3>@Localizer["Are you sure you want to delete this?"]</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Abstract)
        </dt>
        <dd>
            @Html.Raw(Model.Abstract)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.Raw(Model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value=@Localizer["Delete post"] class="btn btn-default" /> |
            <a asp-action="Index">@Localizer["Back to List"]</a>
        </div>
    </form>
</div>