﻿@model Course_Project.Models.PostViewModels.Post
@{
    ViewData["Title"] = Model.Title;
}
<br />
<br />
<div class="article-page container" id="allUp">
    <div class="col-md-12 article-details">
        @Html.Partial("_PostSummary", Model)
        @Html.Raw(Model.Content)
    </div>
    <div class="col-md-12 article-details">
        @Html.Partial("_CommentsBody", Model)
        @Html.Partial("_NewComment", Model)
    </div>
</div>