﻿@model IEnumerable<Course_Project.Models.PostViewModels.Post>
@{
    ViewData["Title"] = Context.Request.Query["category"];
}
<div class="container">
    <ul class="col-md-12 list-unstyled article-list">
        <li class="row">
            @await Component.InvokeAsync(
                     "CategoryPosts",
                     new { category = Context.Request.Query["category"].ToString(), howMany = 10 })
        </li>
    </ul>
</div>