﻿@model Course_Project.Models.PostViewModels.Post
@{
    ViewData["Title"] = Localizer["Edit post"];
}

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>@Localizer["Edit post"]</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label">@Localizer["Title"]</label>
            <div class="col-md-6">
                <input asp-for="Title" value="@Model.Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
            <label asp-for="Category" class="col-md-2 control-label">@Localizer["Category"]</label>
            <div class="btn-group">
                <select id="categorySelect" asp-for="Category"
                        asp-items="@new SelectList(context.Categories.Select(c => c.CategoryName))"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TagString" class="col-md-2 control-label">@Localizer["TagString"]</label>
            <div class="col-md-10">
                <input asp-for="TagString" value="@Model.TagString" class="form-control" data-role="tagsinput"
                       placeholder="@Localizer["One tag up to 25 characters, maximum 100 characters"]" />
                <span asp-validation-for="TagString" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Abstract" class="col-md-2 control-label">@Localizer["Abstract"]</label>
            <div class="col-md-10">
                <textarea asp-for="Abstract" class="form-control" rows="7" required>
                    {@Model.Abstract}
                </textarea>
                <span asp-validation-for="Abstract" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="col-md-2 control-label">@Localizer["Content"]</label>
            <div class="col-md-10">
                <textarea asp-for="Content" class="form-control" rows="28">
                    {@Model.Content}
                </textarea>
                <span asp-validation-for="Content" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            </div>
        </div>
        <input type="submit" value=@Localizer["Edit post"] class="btn btn-default" />
    </div>
</form>
<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        tinymce.init({
            selector: 'textarea',
            language: "@CultureInfo.CurrentCulture.Name",
            plugins: 'image code',
            toolbar: 'undo redo | image code',
            images_upload_url: '/Posts/UploadImageAsync'
        });
    </script>
}