@model IEnumerable<Course_Project.Models.PostViewModels.Post>
@{
    ViewData["Title"] = "Новости";
}
<div class="container">
    <ul class="col-md-12 list-unstyled article-list">
        <li class="row">
            @await Component.InvokeAsync("LatestPosts", new { howMany = 15 })
        </li>
    </ul>
</div>

