﻿@model IEnumerable<Course_Project.Models.PostViewModels.Post>
@{
    ViewData["Title"] = @Localizer["News"];
}

<div class="row">
    <div class="col-md-9">
        <ul class="list-unstyled article-list">
            <li class="row">
                @await Component.InvokeAsync("LatestPosts", new { howMany = 15 })
            </li>
        </ul>
    </div>
    @Html.Partial("_TagCloud")
</div>