﻿@{
    ViewData["Title"] = @Localizer["News"];
}

<div class="row">
    <div class="col-md-9">
        <ul class="list-unstyled article-list">
            <li class="row">
                @await Component.InvokeAsync("PostByTag", new { howMany = 15, tagId = ViewData["tagId"] })
            </li>
        </ul>
    </div>
    @Html.Partial("_TagCloud")
</div>