﻿@model IEnumerable<Course_Project.Models.PostViewModels.Post>
@{
    ViewData["Title"] = @Localizer["Top news"];
}
<div class="row">
    <div class="col-md-9">
        <ul class="col-md-12 list-unstyled article-list">
            <li class="row">
                @await Component.InvokeAsync("TopPosts", new { howMany = 15 })
            </li>
        </ul>
    </div>
    @Html.Partial("_TagCloud")
</div>