@{
    ViewData["Title"] = Localizer["Registration completed successfully!"];
}
<h2>@ViewData["Title"]</h2>
<div>
    <p>
        @Localizer["In a few minutes, a link will be sent to your e-mail to confirm the registration."]
    </p>
</div>
