@{
    ViewData["Title"] = "Регистрация прошла успешно!";
}
<h2>@ViewData["Title"]</h2>
<div>
    <p>
        В течении нескольких минут на Ваш почтовый ящик придет ссылка для подтверждения регистрации.
    </p>
</div>
