﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = Localizer["Forgot your password?"];
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>@ViewData["Title"]</h2>
        <h4>@Localizer["Enter your email."]</h4>
        <hr />
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">@Localizer["Submit"]</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}