﻿@{
    ViewData["Title"] = Localizer["Locked out"];
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">@Localizer["This account has been locked out, please try again later."]</p>
</header>