﻿@model RegisterViewModel
@{
    ViewData["Title"] = Localizer["Register"];
}

<div class="row">
    <h2 style="text-align:center">@ViewData["Title"]</h2>
    <div class="col-md-4 col-md-offset-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4 style="text-align:center">@Localizer["Create a new account."]</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Username" class="form-control" placeholder=@Localizer["Username"] />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder=@Localizer["Password"] />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder=@Localizer["ConfirmPassword"] />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">@Localizer["Register"]</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}