﻿@{
    ViewData["Title"] = Localizer["Reset password confirmation"];
}
<h2>@ViewData["Title"]</h2>
<p>
    @Localizer["Your password has been reset. Please"] <a asp-action="Login">@Localizer["click here to log in"]</a>.
</p>