﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = Localizer["Reset password"];
}

<div class="row" style="text-align:center">
    <h2>@ViewData["Title"]</h2>
    <h4>@Localizer["Reset your password."]</h4>
    <div class="col-md-4 col-md-offset-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder=@Localizer["Password"] />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder=@Localizer["ConfirmPassword"] />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">@Localizer["Reset password"]</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}