﻿@model IDictionary<Course_Project.Models.PostViewModels.Post,double>

<div class="last-articles">
    <h4>@Localizer["Top news:"]</h4>
    <ul class="col-md-12 list-unstyled article-list">
        @foreach (var post in Model.Keys)
        {
            <li>
                @Html.Partial("_PostSummary", post)
            </li>
        }
    </ul>
</div>