﻿@model IEnumerable<Course_Project.Models.PostViewModels.Post>

<div class="last-articles">
    <h4>@Localizer["Latest news:"]</h4>
    <ul class="col-md-12 list-unstyled article-list">
        @foreach (var post in Model)
        {
            <li>
                @Html.Partial("_PostSummary", post)
            </li>
        }
    </ul>
</div>