﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var user = await UserManager.FindByIdAsync(ManageNavPages.UserId);
    var currentUser = await UserManager.GetUserAsync(User);
    var isAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
}

<div class="row">
    <div class="col-md-3">
        <br />
        <br />
    </div>
    <div class="col-md-3" style="text-align:center">
        <div class="form-group">
            <div id="dropzone">
                <form class="dropzone needsclick dz-clickable"
                      id="uploader@((currentUser == user || isAdmin) ? "" : "Hide")"
                      style="border-radius: 50%;width: 200px;height: 200px; margin:30px">
                    <div class="dz-message needsclick" id="logoImgDiv">
                        <img id="logoImg"
                             src=@user.ProfilePicture
                             alt="UserLogo"
                             height="200"
                             width="200"
                             class="img-circle"
                             style="margin:-22px;position:relative;  top:-27px" />
                    </div>
                </form>
            </div>
        </div>
        <label class="control-label" @ViewData["Hidden"]>@Localizer["Change avatar"]</label>
    </div>
    <div class="col-md-6">
        <br />
        @RenderBody()
    </div>
    <div class="col-md-3">
        <br />
        <br />
        @await Html.PartialAsync("_ManageNav")
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
    <script src="~/js/dropzone.userlogo.js"></script>
}