﻿
<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)">
        <a asp-action="Index" asp-route-id="@ManageNavPages.UserId">@Localizer["Profile"]</a>
    </li>
    <li class="@ManageNavPages.MyNewsNavClass(ViewContext)" style=@ViewData["DisplayNoneAuthor"]>
        <a asp-action="MyNews" asp-route-id="@ManageNavPages.UserId">@Localizer["My news"]</a>
    </li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" style=@ViewData["DisplayNone"]>
        <a asp-action="ChangePassword" asp-route-id="@ManageNavPages.UserId">@Localizer["Password"]</a>
    </li>
</ul>