﻿@model Course_Project.Models.ProfileViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = Localizer["Change password"];
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<div class="row" style="text-align:center">
    <h3>@ViewData["Title"]</h3>
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <div class="col-md-6 col-md-offset-3">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="OldPassword" class="form-control" placeholder="@Localizer["Current Password"]" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="NewPassword" class="form-control" placeholder="@Localizer["New Password"]" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="@Localizer["Confirm Password"]" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input asp-for="UserId" type="hidden" name="userId" />
            <button type="submit" class="btn btn-default">@Localizer["Update password"]</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}