﻿@model Course_Project.Models.ProfileViewModels.IndexViewModel
@{

    ViewData["Title"] = Localizer["Profile"];
    ViewData.AddActivePage(Course_Project.Views.Profile.ManageNavPages.Index);
}
@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="row">
    <h3 style="text-align:center" hidden=@ViewData["Hidden"]>@Localizer["Change your account settings"]</h3>
    <div class="col-md-6 col-md-offset-3">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username">@Localizer["Username"]</label>
                <input asp-for="Username" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled=@ViewData["Disabled"] />
                        <span class="input-group-addon" aria-hidden="true">
                            <span class="glyphicon glyphicon-ok text-success"></span>
                        </span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" disabled=@ViewData["Disabled"] />
                    <button asp-action="SendVerificationEmail" class="btn btn-link" style=@ViewData["DisplayNone"]>
                        @Localizer["Send verification email"]
                    </button>
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname">@Localizer["Firstname"]</label>
                <input asp-for="Firstname" class="form-control" disabled=@ViewData["Disabled"] />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname">@Localizer["Lastname"]</label>
                <input asp-for="Lastname" class="form-control" disabled=@ViewData["Disabled"] />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">@Localizer["Phone Number"]</label>
                <input asp-for="PhoneNumber" class="form-control" disabled=@ViewData["Disabled"] />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <input asp-for="UserId" type="hidden" name="userId" />
            <button id="button" type="submit" class="btn btn-default" style=@ViewData["DisplayNone"]>@Localizer["Save"]</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}