﻿@model ApplicationDbContext
@{
    ViewData["Title"] = Localizer["My news"];
    ViewData.AddActivePage(Course_Project.Views.Profile.ManageNavPages.MyNews);
    var user = await UserManager.FindByIdAsync(ManageNavPages.UserId);
}

<div class="col-md-5">
    <h2>@Localizer["My news"]</h2>
</div>
<div class="col-md-3 col-md-offset-4">
    <br />
    <a class="btn btn-sm btn-primary"
       asp-controller="Posts"
       asp-action="Create"
       asp-route-id="@ManageNavPages.UserId"
       style=@ViewData["DisplayNone"]>@Localizer["Add news"]</a>
</div>
<table class="table">
    @foreach (var post in Model.Posts)
    {
        if (post.Id != null && user == post.Author)
        {
            <tr>
                <td>
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">@post.Title</a>
                    <a class="btn btn-sm btn-primary"
                       asp-controller="Posts"
                       asp-action="Edit"
                       asp-route-id="@post.Id"
                       style=@ViewData["DisplayNone"]>
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-sm btn-danger"
                       asp-controller="Posts"
                       asp-action="Delete"
                       asp-route-id="@post.Id"
                       style=@ViewData["DisplayNone"]>
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    }
</table>