@model Course_Project.Models.ProfileViewModels.MyNewsViewModel
@using static Course_Project.Views.Profile.ManageNavPages
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData.AddActivePage(Course_Project.Views.Profile.ManageNavPages.MyNews);
}
<p>Здесь будет реализация работы с новостями</p>
