﻿@model Course_Project.Models.ProfileViewModels.SetPasswordViewModel
@{
    ViewData["Title"] = Localizer["Set your password"];
    ViewData.AddActivePage(Course_Project.Views.Profile.ManageNavPages.ChangePassword);
}

<div class="row" style="text-align:center">
    <h4>@Localizer["Set your password"]</h4>
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <p class="text-info">
        @Localizer["You do not have a local password for this site. Add a local account so you can log in without an external login."]
    </p>
    <div class="col-md-6 col-md-offset-3">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="NewPassword" class="form-control" placeholder="@Localizer["New Password"]" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="@Localizer["Confirm Password"]" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input asp-for="UserId" type="hidden" name="userId" />
            <button type="submit" class="btn btn-default">@Localizer["Set password"]</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}