/* цвет фона и рамки навигационного меню */
.navbar-default {
    background-color: #337ab7;
    border-color: #a6d1fc;
}
/* цвет текста, содержащий название сайта или бренда */
.navbar-default .navbar-brand {
    color: #c5dff9;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* Цвет пунктов навигационного меню */
.navbar-default .navbar-nav > li > a {
    color: #c5dff9;
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
/* Цвет пунктов навигационного меню */
#logOut  {
    color: #c5dff9;
}


#chooseCategory {
    color: #c5dff9;
}
