div.stars {
  width: 250px;
  display: inline-block;
  
}

input.star { display: none; }

label.star {
  float: right;
  padding: 4px;
  font-size: 18px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

p.stars {
	float: left;
	padding:4px;
	position:relative;
	top:3px
}

p.total {
	width:340px
}

#counOfLikes {
	top:1px;
	cursor:default
}
#heart {
	top:5px;
}