#tagCloud .ul{
  list-style:none;
  text-align: center
}
#tagCloud  .tag-cloud {
  padding: 15px 35px 10px 0;
  text-align: center
}
#tagCloud  .tag-cloud li {
  display: inline
}
#tagCloud  .tag-cloud a {
  color: #69a
}
#tagCloud  .tag-cloud a:hover {
  color: #a67
}
#tagCloud  .tag-cloud .w1 {
  font-size: 1em
}
#tagCloud  .tag-cloud .w2 {
  font-size: 1.2em
}
#tagCloud  .tag-cloud .w3 {
  font-size: 1.4em
}
#tagCloud  .tag-cloud .w4 {
  font-size: 1.6em
}
#tagCloud  .tag-cloud .w5 {
  font-size: 1.8em
}
#tagCloud  .tag-cloud .w6 {
  font-size: 2.0em
}
#tagCloud  .tag-cloud .w7 {
  font-size: 2.4em
}
#tagCloud  .tag-cloud .w8 {
  font-size: 2.6em
}
#tagCloud  .tag-cloud .w9 {
  font-size: 2.8em
}
#tagCloud  .tag-cloud .w10 {
  font-size: 3em
}			
#tagCloud  {
  margin: 0 auto;
  padding: 70px 0 30px;
  position: relative;
  width: 25%
}
#tagCloud  h1 {
  color: #888;
  font-size: 1.8em;
  position:relative;
  left:-15px
}
